html, body {
    background: url(../img/Acai.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Hind', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  div {
    text-align: center;
  }
  
  .circle {
      background-color: #aaa;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      overflow: hidden;
      position: relative;
    }
    
    .circle img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

  h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
  }

  .imagem {
      left: 345px;
      bottom: 270px;
  }
  
  .perfil {
      border-radius: 150%;
  }

  .text-perfil {
      top: 100px;
  }